sudo: required

language: node_js
node_js:
  - 6


matrix:
  include:
    - os: linux
      env: CXX=g++-4.8
      dist: trusty

    - os: osx
      osx_image: xcode8.3
      compiler: gcc


cache:
  directories:
    - node_modules
    - $HOME/.cache/electron
    - $HOME/.cache/electron-builder

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - build-essential
      - libusb-1.0-0-dev
      - libudev-dev

before_install:
  - npm install -g node-gyp

script:
  - npm run dist