#blocks button{
    height: 140px;
    width: 140px;
    margin: 0;
    text-align: center;
    border-radius: 15px;
    outline: none;
    border: none;
}

#blocks button:enabled{
    background: rgb(255, 0, 108);
}

#blocks button:disabled{
    background: #8B8B8B;
}

#blocks button:enabled:hover{
    background: #078cd9;
    cursor: pointer;
}

#blocks button:enabled:active{
    background: #00284f;
}

#blocks img{
    padding-top: 10px;
    max-width: 60%;
    max-height: 60%;
    
}