#blocks button{
    background: #de7224;
    height: 140px;
    width: 140px;
    margin: 0;
    text-align: center;
    border-radius: 15px;
    outline: none;
    border: none;
}

#blocks button:enabled:hover{
    background: #078cd9;
    cursor: pointer;
}

#blocks button:enabled:active{
    background: #078cb2;
}

#blocks img{
    padding-top: 10px;
    max-width: 60%;
    max-height: 60%;
    
}