
nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav li{
    padding: 0px 10px 0px 10px;
}

#brand{
    flex-basis: 5%;
}

#brand-text{
    flex-basis: 85%;
}

#pane{
    background: #00284f;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#navbar{
    height: 70px;
    overflow: hidden;
}

#brand h1{
    margin: 0;
}

#brand-text h5{
    margin: 5px;
}